html, body {
    font-family: 'Rokkitt', serif;
    color: white;
    margin: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
}

.panel_intro,
.panel_game,
.panel_endgame {
    display: none;
    width: 40em;
    height: 90vh;
}

/* INTRO */
.panel_intro {
    background-color: #000;
}

.panel_intro.show {
    display: block;
}

/* GAME */
.panel_game {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    background-color: #656264;
    background-image: url('img/bg.png');
    background-position: 50% 50%;
    background-size: cover;
}

.panel_game.show {
    display: flex;
}

.g_axes {
    display: flex;
    display:none;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 3em;
    text-align: center;
    background-color: rgba(10, 10, 12, 0.5);
}

.g_axis {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Change if number of axes changes */
    flex-basis: 25%;
    padding: 1em 2% 0 2%;
}

.g_axis .progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 1em;
    width: 80%;
    margin-left: 10%;
    background-color: black;
}

.g_axis .label {
    margin: 0.5em auto;
}

.g_axis .dot {
    flex-basis: 2em;
    justify-content: center;
    display: flex;
}

.g_axis .dot img {
    width: 1em;
    height: 1em;
    align-self: center;
    display: none;
}

.g_axis .dot img.small {
    width: 0.4em;
    height: 0.5em;
    display: block;
}

.g_axis .dot img.large {
    width: 0.8em;
    height: 0.8em;
    display: block;
}

.card_about {
    display: none;
    text-align: center;
    flex-grow: 1;
    flex-basis: 7em;
    padding: 0 2em;
    font-size: 1.2em;
}

.card_about h1 {
    font-size: 1.3em;
}

.card_container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    box-sizing: border-box;
}

.card_frame {
    align-self: center;
    width: 32vh;
    height: 32vh;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    border: 0.6em solid white;
    border-radius: 0.4em;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.48);
    transform-origin: 50% 110%;
}

.card_frame.absolute {
    position: absolute;
    display: block;
}

.card_frame > img {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.option_bg {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.option_bg.show {
    display: flex;
}

.option_bg > p {
    align-self: center;
    text-align: center;
    color: white;
}

.card_option {
    flex-grow: 2;
    text-align: center;
    align-self: center;
    margin: 5%;
}

.card_option a {
    background-color: black;
    border: 0.6em solid black;
    border-radius: 0.4em;
    display: block;
}

.g_padding {
    flex-grow: 6;
}

.g_progress_years {
    flex-grow: 1;
    flex-basis: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.g_year {
    background-color: black;
    color: white;
    width: 3em;
    height: 3em;
    line-height: 3em;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
}

.g_year.selected {
    background-color: #8DBEB2;
}

/* END GAME */

.panel_endgame {
    background-color: #000;
}

.panel_endgame.show {
    display: block;
}
