* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Rokkitt', serif;
    color: white;
    margin: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: center;
}

.panel_intro,
.panel_game,
.panel_endgame {
    display: none;
	width: 50.6vh;
	height: 90vh;
	min-width: 340px;
	min-height: 600px;
	position: relative;
	top: 5vh;
}

/* GENERIC */

.button {
  display: block;
  width: 65%;
  max-width: 10em;
  margin: 1em auto;
  padding: 0.5em;
  border-radius: 10em;
  background: #fff;
  color: #362F2D;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 0 0.1em 0.2em 0 rgba(0,0,0,0.50);
  transform: scale(1);
  transition: transform 0.1s ease-out;
}

.button.small {
  font-size: 1em;
}

.button:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease-out;
}



/* INTRO */
.panel_intro {
    position: relative;
    background: url('img/hgTeam.png') bottom center no-repeat, linear-gradient(45deg, #735F52 0%, #9C8272 100%) ;
    background-position: bottom+20em;
    background-size: 100%;
    text-align: center;
}

.panel_intro #logo {
  width: 75%;
  margin: 1em auto 0 auto;

}

.panel_intro .footer {
  position: absolute;
  bottom: 0;
  font-size: 1em;
  width: 100%;
  background: rgba(0,0,0,0.65);
  padding: 1em 0 1em 0;
}

.panel_intro p {
  margin: 0 auto;
}

.panel_intro .footer a {
  margin: 0 auto;
  font-size: 1em;
  font-weight: bold;
  color: #E8D061;
}

.seperator {
    margin: 1em auto 1em auto;
    width: 30%;
    height: 0.5em;
    background: rgba(0,0,0,0.25);
}

.share {
  position: absolute;
  top: 1em;
  right: 1em;
}

.shareIcon {
  display: block;
  margin: 0 0 0.5em 0;
}

.shareIcon img {
    width: 2em;
}

.share h2 {
  font-size: 1.25em;
  margin: 0 0 0.5em 0;
}

.panel_intro.show {
    display: block;
}

/* GAME */
.panel_game {
    display: none;
    grid-template-rows: 5em 22vh auto 5em;
    background-image: linear-gradient(45deg, #735F52 0%, #9C8272 100%);
}

.panel_game.show, .panel_endgame.show {
    display: grid;
}

.howtoplay {
	display: none;
    background-color: #604D40;
    position: absolute;
    width: 100%;
    height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}

.howtoplay p {
	font-size: 17px;
	padding: 0 0 20px 0;
	font-weight: normal;
}

.howtocontent {
	margin: auto;
	padding: 20px;
	text-align: left;
	font-weight: bolder;
}

.howtoplay .ingress {
	font-size: 20px;

}

.howtoplay .card_frame {
	float: right;
	margin: 0px 0px 20px 20px;
	width: 140px;
	height: 140px;
}


.howtoplay h1 {
	width: 100%;
	background-color: #342B25;
	margin: 0;
	padding: 20px 0;
	text-transform: uppercase;
	color: #E8D061;
	font-weight: normal;
}

a.close {
	width: 32px;
	height: 32px;
	background-image: url('img/close.png');
	background-position: center center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	top: 22px;
	left: 22px;
}

.g_axes {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    padding: 1em 0 0em 0;
    flex-basis: 4em;
    text-align: center;
    background-color: rgba(10, 10, 12, 0.5);
}

.g_axis {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    /* Change if number of axes changes */
    flex-basis: 25%;
}

.g_axis .progress {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 0.5em;
    width: 80%;
    margin-left: 10%;
    background-color: black;
}

.g_axis .label {
    margin: 0.5em auto;
    font-weight: bold;
}

.g_axis .dot {
    flex-basis: 2em;
    justify-content: center;
    display: flex;
    margin: 0 0 1em 0
}

.g_axis .dot img {
    width: 1em;
    height: 1em;
    align-self: center;
    display: none;
}

.g_axis .dot img.small {
    width: 0.4em;
    height: 0.5em;
    display: block;
}

.g_axis .dot img.large {
    width: 0.8em;
    height: 0.8em;
    display: block;
}

.card_about, .card_endtext {
    text-align: center;
    padding: 0 2em;
    font-size: 1.2em;
    align-self: center;
}

.card_about h1, .card_endtext h1 {
    color: #E8D061;
    font-size: bold;
    font-size: 1em;
    margin: 0em 0 0.2em 0;
}

.card_about p {
  font-size: 1em;
  line-height: 1em;
  margin: 0 auto;
}

.card_wrapper {
    justify-self: center;
    box-sizing: border-box;
    position: relative;
    /* For card flipping */
    perspective: 1500px;
    perspective-origin: 50% 16vh;
}

.card_stack.flip {
    transform: rotateY(180deg);
}

.card_stack.flipimmediate {
    transform: rotateY(0deg);
    transition: 0s;
}

.card_stack, .card_stack * {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card_stack {
    position: relative;
    z-index: 1;
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 32vh;
    height: 32vh;
}

.card_stack .front,
.card_stack .back {
    transform: rotateY(180deg);
}

.card_cur,
.card_stack .front,
.card_stack .back {
    backface-visibility: hidden;
    width: 32vh;
    height: 32vh;

    border: 0.6em solid white;
    border-radius: 0.4em;
}

.card_stack .front {
    margin-top: -32vh;
    z-index: 900;    

}

.card_stack .back {
    transform: rotateY(0deg);
    background-image: url('cards/cardBack.png');
    background-size: cover;
}

.card_cur {
    position: relative;
    align-self: center;
    width: 32vh;
    height: 32vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    transform-origin: 50% 75%;
    margin-top: -32vh;
    z-index: 2;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.48);
}

.panel_endgame .card_cur {
    margin-top: 0;
}

.card_cur.absolute {
    position: absolute;
    margin-top: 0vh;
}

.card_cur > img,
.card_stack .front > img {
    display: block;
    position: relative;
    height: 100%;    
}

.card_cur.fall_right {
    -webkit-animation: card_fall_right 2s ease-in;
    -moz-animation: card_fall_right 2s ease-in;
    -ms-animation: card_fall_right 2s ease-in;
    animation: card_fall_right 2s ease-in;
}

@keyframes card_fall_right {
    100% { transform: translate(30em, 150vh) rotate(360deg); }
}

@-ms-keyframes card_fall_right {
    100% { transform: translate(30em, 150vh) rotate(360deg); }
}

@-moz-keyframes card_fall_right {
    100% { transform: translate(30em, 150vh) rotate(360deg); }
}

@-webkit-keyframes card_fall_right {
    100% { transform: translate(30em, 150vh) rotate(360deg); }
}

.card_cur.fall_left {
    -webkit-animation: card_fall_left 2s ease-in;
    -moz-animation: card_fall_left 2s ease-in;
    -ms-animation: card_fall_left 2s ease-in;
    animation: card_fall_left 2s ease-in;
}

@keyframes card_fall_left {
    100% { transform: translate(-10em, 150vh) rotate(-360deg); }
}

@-ms-keyframes card_fall_left {
    100% { transform: translate(-10em, 150vh) rotate(-360deg); }
}

@-moz-keyframes card_fall_left {
    100% { transform: translate(-10em, 150vh) rotate(-360deg); }
}

@-webkit-keyframes card_fall_left {
    100% { transform: translate(-10em, 150vh) rotate(-360deg); }
}

.option_bg {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.option_bg.show {
    display: flex;
}

.option_bg > p {
    align-self: center;
    text-align: center;
    color: white;
}

.card_option {
    flex-grow: 2;
    text-align: center;
    align-self: center;
    margin: 5%;
}

.card_option a {
    background-color: black;
    border: 0.6em solid black;
    border-radius: 0.4em;
    display: block;
}

.g_padding {
    flex-grow: 6;
}

.g_progress_years {
    background: rgba(0,0,0,0.25);
    padding: 2em 0 2em 0;
    flex-grow: 0;
    flex-basis: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}


.tiltinfo {
	display: none;
}


@media only screen and (max-width: 500px) and (orientation:portrait), only screen and (max-device-width: 500px) and (orientation:portrait) {
	.panel_intro,
	.panel_game,
	.panel_endgame {
	    display: none;
	    width: 100vw;
	    height: 100vh;
	    top: 0;
	}

	.g_progress_years {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 0.5em 0 0.5em 0;
	}

  .panel_intro {
      position: relative;
      background: url('img/hgTeam.png') bottom 4em center no-repeat, linear-gradient(45deg, #735F52 0%, #9C8272 100%);
      background-size: 100%;
  }

	.panel_intro .footer {
		position: fixed;
		bottom: 0;
		width: 100%;
	}

}

@media only screen and (max-height: 700px), only screen and (max-device-height: 700px)) {
	.panel_intro,
	.panel_game,
	.panel_endgame {
	    top: 0;
	}
}

@media only screen and (min-height: 700px) {
	.howtoplay p.ingress {
		font-size: 27px;
	}
	.howtoplay p {
		font-size: 18px;
	}

	.howtoplay .card_frame {
		width: 160px;
		height: 160px;
	}
}

@media only screen and (min-height: 800px) {
	.howtoplay p.ingress {
		font-size: 32px;
	}
	.howtoplay p {
		font-size: 22px;
	}

	.howtoplay .card_frame {
		width: 200px;
		height: 200px;
	}
}

@media only screen and (max-width: 480px) and (orientation:landscape), only screen and (max-device-width: 480px) and (orientation:landscape) {

	.tiltinfo {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.8);
		background-image: url('img/iconRotate.png');
		background-repeat: no-repeat;
    	background-attachment: fixed;
	    background-position: center center;
	    background-size: 140px 140px;
	}


}



.g_year {
    background-color: rgba(0,0,0,0.25);
    color: rgba(255,255,255,0.2);
    width: 3em;
    height: 3em;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 3em;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
}

.g_year.selected {
    background-color: #E8D061;
    color: #000;
}

/* END GAME */

.panel_endgame {
    background-color: #000;
    display: none;
    grid-template-rows: 5em 41vh auto 5em;
    background-image: linear-gradient(45deg, #735F52 0%, #9C8272 100%);
}

.panel_endgame .card_wrapper {
    align-self: center;
}
